* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.wrapper {
  width: 410px;
  height: 390px;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  color: wheat;
  text-align: center;
}
h3 {
  color: wheat;
  padding-left: 30px;
  padding-bottom: 40px;
}

.grid {
  width: 400px;
  height: 300px;
  /* border: 1px red solid; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
